body{
    margin: 0 20px;
    background-color: whitesmoke;
}
.content{
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.video{
    margin: 5px;

}
.video_title{
    color: darkblue;
    font-weight: bold ;
    padding: 0;
    margin: 0;
}
.photo{
    display: inline-block;

}
.like{
    font-weight: bold;
    float:right;
}